Flask             
Flask-Migrate    
Flask-SQLAlchemy  
flask_cors
flask_restful
flask_bcrypt
sqlalchemy
sqlalchemy_serializer
greenlet          
gunicorn 
secret         
itsdangerous      
Jinja2            
Mako              
MarkupSafe       
packaging         
pip              
setuptools      
SQLAlchemy        
typing_extensions 
Werkzeug         
wheel            
psycopg2-binary==2.9.1
